@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --primary: 228 76%, 23%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 9%;
    --accent: 229 75% 55%;
    --neutral-400: 0, 0%, 47%;

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .gradient {
    background-image: linear-gradient(
      0deg,
      hsl(228deg 76% 23%) 0%,
      hsl(237deg 46% 31%) 18%,
      hsl(241deg 33% 37%) 26%,
      hsl(244deg 27% 43%) 33%,
      hsl(246deg 22% 49%) 39%,
      hsl(247deg 21% 55%) 44%,
      hsl(248deg 21% 61%) 50%,
      hsl(249deg 21% 67%) 56%,
      hsl(249deg 22% 73%) 61%,
      hsl(250deg 22% 80%) 67%,
      hsl(250deg 22% 87%) 74%,
      hsl(251deg 22% 93%) 82%,
      hsl(0deg 0% 100%) 100%
    );
  }
}
