@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'DM Sans';
  src: url('./fonts/DMSans-Regular.woff2') format('woff2'),
    url('./fonts/DMSans-Regular.woff') format('woff'),
    url('./fonts/DMSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap; /* Optional, but recommended */
}

/* DM Sans Medium 500 */
@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Medium.woff2') format('woff2'),
    url('/fonts/DMSans-Medium.woff') format('woff'),
    url('/fonts/DMSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap; /* Optional, but recommended */
}
@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Medium.woff2') format('woff2'),
    url('/fonts/DMSans-Medium.woff') format('woff'),
    url('/fonts/DMSans-Medium.ttf') format('truetype');
  font-weight: 600;
  font-display: swap; /* Optional, but recommended */
}

/* DM Sans Bold 700 */
@font-face {
  font-family: 'DM Sans';
  src: url('/fonts/DMSans-Bold.woff2') format('woff2'),
    url('/fonts/DMSans-Bold.woff') format('woff'),
    url('/fonts/DMSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap; /* Optional, but recommended */
}

@layer base {
  :root {
    --primary: 228 76% 23%;
    --primary-foreground: 0, 0%, 100%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 0 0% 9%;
    --accent: 229 75% 55%;
    --neutral-400: 0, 0%, 47%;

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  body {
    @apply font-sans;
  }

  h1,
  h2 {
    @apply tracking-tight;
    @apply leading-tight;
  }

  .gradient {
    background-image: radial-gradient(
      circle at center center,
      rgb(12, 44, 156),
      rgb(14, 31, 101)
    );
  }
}
