---
import pets from '../../assets/categories/pets.jpg';
import cleaning from '../../assets/categories/cleaning.jpg';
import kitchen from '../../assets/categories/kitchen.jpg';
import office from '../../assets/categories/office.jpg';
import outdoors from '../../assets/categories/outdoors.jpg';
import snacks from '../../assets/categories/snacks.jpg';
import CategoryCard from '../CategoryCard.astro';

const { title, categories } = Astro.props;

const categoriesImages = [
  {
    src: pets,
    alt: 'Perros jugando con una pelota',
    category: categories.pets,
  },
  {
    src: cleaning,
    alt: 'Perros jugando con una pelota',
    category: categories.cleaning,
  },
  {
    src: kitchen,
    alt: 'Perros jugando con una pelota',
    category: categories.home,
  },
  {
    src: office,
    alt: 'Perros jugando con una pelota',
    category: categories.office,
  },
  {
    src: outdoors,
    alt: 'Perros jugando con una pelota',
    category: categories.outdoors,
  },
  {
    src: snacks,
    alt: 'Perros jugando con una pelota',
    category: categories.snacks,
  },
];

const { currentLocale } = Astro;
const isSpanish = currentLocale === 'es';
---

<section
  class="relative py-16 md:py-28 bg-gradient-radial -scroll-m-16"
  id={`${isSpanish ? 'categorias' : 'categories'}`}>
  <div class="max-w-screen-xl mx-auto px-6">
    <h2 class="mb-16 text-4xl md:text-5xl font-bold text-white">
      {title}
    </h2>
    <ul class="grid md:grid-cols-3 gap-x-12 gap-y-16">
      {
        categoriesImages.map(({ src, alt, category }) => (
          <CategoryCard src={src} alt={alt} category={category} />
        ))
      }
    </ul>
  </div>
</section>
