---
import { Image } from 'astro:assets';
import comwebLogo from '../../assets/comweb-logo-white.png';
import { Send, Phone, MapPinHouse } from 'lucide-react';
---

<footer class="bg-primary text-white py-20">
  <div
    class="max-w-screen-xl mx-auto px-6 flex flex-col items-center text-center md:flex-row md:text-left md:justify-between md:items-start">
    <!-- Logo Section -->
    <div class="mb-8 md:mb-0">
      <Image src={comwebLogo} alt="ComWeb OC Logo" class="w-36" />
    </div>

    <!-- Contact Info Section -->
    <div class="mb-8 md:mb-0">
      <h3 class="text-xl font-medium mb-4">Contacto</h3>
      <ul class="space-y-3 text-lg text-gray-200">
        <li class="text-lg flex gap-x-2.5 items-center">
          <Send size={18} className="text-gray-200" />
          <a href="mailto:info@comweboc.com" class="link-hover"
            >info@comweboc.com</a
          >
        </li>
        <li class="text-lg flex gap-x-3 items-center">
          <MapPinHouse size={18} className="text-gray-200" />
          <span>Monterrey, NL, México</span>
        </li>
        <li class="text-lg flex gap-x-3 items-center">
          <Phone size={18} className="text-gray-200" />
          <a href="tel:+528184628963" class="link-hover"
            >+52 818 462 8963</a
          >
        </li>
      </ul>
    </div>

    <!-- Navbar Links -->
    <div>
      <h3 class="text-xl font-medium mb-4">Enlaces del Sitio</h3>
      <ul class="space-y-2 text-lg text-gray-200">
        <li><a href="/" class="link-hover">Inicio</a></li>
        <li>
          <a href="#services" class="link-hover">Nosotros</a>
        </li>
        <li><a href="#brands" class="link-hover">Marcas</a></li>
        <li>
          <a href="#categories" class="link-hover">Categorías</a>
        </li>
        <li>
          <a href="#international-relations" class="link-hover"
            >Clientes</a
          >
        </li>
      </ul>
    </div>
  </div>

  <!-- Bottom Section -->
  <div class="text-center mt-20 text-sm text-gray-300">
    © {new Date().getFullYear()} ComWeb OC. Todos los derechos reservados.
  </div>
</footer>
