---
import { Image } from 'astro:assets';
import Map from '../../assets/map.svg';
const { title } = Astro.props;
---

<section class="py-16 md:py-28">
  <div class="max-w-screen-xl mx-auto px-6">
    <h2
      id="operations-heading"
      class="mb-16 text-4xl md:text-5xl font-bold text-blue-950">
      {title}
    </h2>
    <Image
      src={Map}
      alt="World Map with selected countries"
      class="w-full object-cover aspect-auto"
    />
  </div>
</section>

<script>
  const operationsHeading = document.querySelector(
    '#operations-heading'
  );

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        operationsHeading?.classList.add('animate-fade-up');
        observer.unobserve(entry.target);
      }
    });
  });
  if (operationsHeading) {
    observer.observe(operationsHeading);
  }
</script>
