---
import { Image } from 'astro:assets';
import { Button } from '../ui/button';
import ServicesCarousel from './ServicesCarousel';
const { title, subtitle, eyebrow } = Astro.props;
const titleArray = title.split(' ');
const titleDark = titleArray.slice(0, -3).join(' ');
const titleLight = titleArray.slice(-3).join(' ');

const { currentLocale } = Astro;
const isSpanish = currentLocale === 'es';
---

<section
  class="py-16 md:py-28 -scroll-m-10"
  id={`${isSpanish ? 'nosotros' : 'about'}`}>
  <div
    class="max-w-screen-xl mx-auto px-4 py-8 | flex flex-col justify-between md:flex-row gap-x-16 gap-y-12">
    <div class="md:w-3/5">
      <ServicesCarousel client:visible />
    </div>
    <div class="md:w-2/5 flex flex-col">
      <p class="text-lg text-[#777] font-bold mb-3">
        {eyebrow.toUpperCase()}
      </p>
      <h2 class="mb-6 text-4xl md:text-5xl font-bold text-blue-950">
        {titleDark}
        <span class="text-blue-700">{titleLight}</span>
      </h2>
      <p class="mb-8 text-lg md:text-xl">{subtitle}</p>
      <div class="flex">
        <Button variant="accent" size="lg"
          >See What Sets Us Apart</Button
        >
      </div>
    </div>
  </div>
</section>
