---
import { Image } from 'astro:assets';
const { src, alt, category } = Astro.props;
---

<li class="flex flex-col gap-y-4">
  <div class="rounded-3xl overflow-hidden shadow-md">
    <Image
      src={src}
      alt={alt}
      loading="lazy"
      inferSize
      format="webp"
      class="w-full aspect-[3/2] object-cover hover:scale-105 transition-transform duration-200"
    />
    <!-- <div class="gradient absolute inset-0"></div> -->
  </div>
  <p class="text-xl font-medium text-white">{category}</p>
</li>
